#home-section {
    background-image: url(../../img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.7);
}

.home-inner{
    padding-top: 150px;
}

.home-card {
    border-radius: 20%;
    background-color: #4A42BD;
    border: 5px solid;
    border-color: #4A42BD;
    box-shadow: 5px 5px #E2BB4F;
}

.icon-check {
    color: #E2BB4F;
}
