html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

html{
    font-size: 14px;
}

body {
  margin-bottom: 60px;
  background: #333;
  color: #fff;
}

main{
    height: 100%;
}

.navbar {
    border-bottom: solid 1px #008ed6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 0.5px;
    border-right: solid 0.5px;
    border-color: #008ed6;
    opacity: 0.8;
    font-size: 1.2rem;
}

footer {
    border-top: solid #008ed6 1px;
}