@model TypeEditDTO

@if(ViewBag.Msg != null)
{
    <script>
        alert('@ViewBag.Msg');
    </script>
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Type</h4>
        <hr/>
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <label asp-for="Name"></label>
            <div>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Definition"></label>
            <div>
                <input asp-for="Definition" class="form-control">
                <span asp-validation-for="Definition"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary">
            <a asp-action="index"  
                class="btn btn-danger m-1">
                Go Back
            </a>
        </div>
    </div>

}

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}